button {
  border: none;
  outline: none;
  background: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 42px;
  color: #3F5D45;
  max-width: 940px;
  height: 100px;
}
header div {
  display: flex;
}
header img {
  margin: auto 0;
  height: 40px;
}
header ul {
  display: flex;
}
header ul li {
  cursor: pointer;
  margin: auto 30px;
  font-weight: 600;
}
header ul li:last-child {
  margin-right: 79px;
}
header button span {
  color: #3F5D45;
}

main .main-banner {
  margin: 0 auto;
  max-width: 940px;
  height: 496px;
  background: transparent url("../img/annie-spratt-133872-unsplash.jpg") 0% 0% no-repeat padding-box;
  background-size: cover;
  background-position: center center;
  position: relative;
}
main .main-banner ul {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 160%);
  height: 256px;
}
main .main-banner ul li {
  background-size: cover;
  background-position: center center;
}
main .main-banner ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  line-height: 256px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: white;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  background: #3F5D45 0% 0% no-repeat padding-box;
  opacity: 80%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  cursor: pointer;
}
main .main-banner ul li a:hover {
  background: #FFE180 0% 0% no-repeat padding-box;
  color: #3F5D45;
  font-weight: 600;
}
main .main-banner ul li:nth-child(1) {
  background-image: url("../img/brooke-lark-230642-unsplash.jpg");
}
main .main-banner ul li:nth-child(2) {
  background-image: url("../img/whitney-wright-356670-unsplash.jpg");
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}
main .main-banner ul li:nth-child(3) {
  background-image: url("../img/food-photographer-jennifer-pallian-306919-unsplash.jpg");
}
main .second, main .third, main .four {
  max-width: 1024px;
  height: 420px;
  margin: 105px auto 0 auto;
  display: flex;
  align-items: center;
}
main .second {
  margin: 247px auto 0 auto;
  position: relative;
  background: #EAF0ED;
}
main .second .slogan {
  height: 307.15px;
  position: absolute;
  right: 5%;
  top: -5%;
}
main .second div {
  height: 280px;
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
  padding-right: 161px;
}
main .second div p {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  color: #8DA291;
}
main .second div p:first-child {
  padding-left: 56px;
}
main .second .pic {
  width: 460px;
  height: 460px;
  position: absolute;
  left: 3%;
  top: -5%;
}
main .third {
  position: relative;
  background: #EAF0ED;
}
main .third .slogan {
  height: 307.15px;
  position: absolute;
  left: 40%;
  top: -5%;
}
main .third div {
  height: 280px;
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: row-reverse;
  padding-left: 32px;
}
main .third div p {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  color: #8DA291;
}
main .third div p:first-child {
  padding-left: 56px;
}
main .third .pic {
  width: 460px;
  height: 460px;
  position: absolute;
  right: 3%;
  top: -5%;
}
main .four {
  justify-content: center;
}
main .four .slogan {
  height: 307.15px;
}
main .shop-list {
  display: flex;
  justify-content: center;
}
main .shop-list > div {
  width: 300px;
}
main .shop-list > div .pic img {
  width: 100%;
  height: 315px;
}/*# sourceMappingURL=css.css.map */